.breadcrumb {
    font-size: 14px;
    list-style: none;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.breadcrumb-item, .breadcrumb-current {
    color: #007BFF; /* Você pode ajustar a cor conforme desejar. */
    text-decoration: none;
    margin-right: 5px;
}

.breadcrumb-item:hover {
    text-decoration: underline;
}

.breadcrumb-separator {
    margin-right: 5px;
}

.breadcrumb-current {
    color: #333; /* Cor para o item atual no breadcrumb. */
}
